<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>377827509559-99csj8tho73g0f3o7v16478ofgdd0tpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377827509559-99csj8tho73g0f3o7v16478ofgdd0tpq</string>
	<key>API_KEY</key>
	<string>AIzaSyBW7pOEpgZODPMOzZfTV79qWD5T2whW9gk</string>
	<key>GCM_SENDER_ID</key>
	<string>377827509559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.min.FinalExam</string>
	<key>PROJECT_ID</key>
	<string>finalexam-9f3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>finalexam-9f3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:377827509559:ios:8ca3ccb2050214a2</string>
	<key>DATABASE_URL</key>
	<string>https://finalexam-9f3cd.firebaseio.com</string>
</dict>
</plist>